{# src/Comppi/ProteinSearchBundle/Resources/views/about.html.twig #}
{% extends '::base.html.twig' %}

{% block title %}ComPPI - Help/Statistics{% endblock %}

{% block bundlecontent %}
	<h1><ul class="NavMenu"><li><a href="{{ path('ComppiDescriptionBundle_help') }}">Help</a></li><li>Statistics</li></ul></h1>

	<p align="justify">On the <b>Statistics</b> page you can find more information about the properties of the ComPPI dataset.
        The <a href="#summary">Statistics Summary</a> describes the summarized number of proteins, interactions and localizations, and the average localization and interaction scores for all species.
        The <a href="#detailed">Detailed Statistics</a> describes the number of proteins, interactions and localizations, and the average localization and interaction scores for the certain localizations of the choosen species.</p>
        
	<p align="justify">Learn more about the <a href="{{ path('ComppiDescriptionBundle_help') }}/subcell_locs">subcellular localization data</a>.</p>
	
	<p align="justify">Find out more about the <a href="{{ path('ComppiDescriptionBundle_help') }}/scores">ComPPI scoring system</a><!--
        and the distribution of the <a href="{{ path('ComppiDescriptionBundle_help') }}/scores#locdist">localization</a>
        and the <a href="{{ path('ComppiDescriptionBundle_help') }}/scores#intdist">interaction score</a>-->.</p>
	
	<a name="summary"></a>
	<h2>Statistics Summary</h2>
	
	<table id="Summary_Statistics" class="fancy_table hovered_list striped_table">
		<thead>
			<tr>
				<th>Data Type</th>
				<th>Number of Proteins</th>
				<th>Number of Localizations</th>
				<th>Average localization score</th>
				<th>Number of Interactions</th>
				<th>Average Interaction Score</th>
			</tr> 
		</thead>
		<tbody>
			<tr>
				<td><b>Compartmentalization of proteins and interactions</b></td>
				<td><b>42 829</b></td>
				<td><b>86 874</b></td>
				<td><b>0.76</b></td>
				<td><b>517 461</b></td>
				<td><b>0.76</b></td>
			</tr>
			<tr>
				<td><b>Interaction Data</b></td>
				<td><b>53 168</b></td>
				<td><b>-</b></td>
				<td><b>-</b></td>
				<td><b>791 059</b></td>
				<td><b>0.49</b></td>
			</tr>
			<tr>
				<td><b>Localization data</b></td>
				<td><b>119 432</b></td>
				<td><b>195 815</b></td>
				<td><b>0.73</b></td>
				<td><b>-</b></td>
				<td><b>-</b></td>
			</tr>
		</tbody>
	</table>
	
	<a name="detailed"></a>
	<h2>Detailed Statistics</h2>
	
	<p>Available species:</p>
	<ol>
		<li><a href="#human"><i>Homo sapiens</i> (Human)</a></li>
		<li><a href="#drosi"><i>Drosophila melanogaster</i> (Fruit fly)</a></li>
		<li><a href="#worm"><i>Caenorhabditis elegans</i></a></li>
		<li><a href="#yeast"><i>Saccharomyces cerevisiae</i> (Baker's yeast)</a></li>
	</ol>
	
	<a name="human"></a>
	<h2>1. <i>Homo sapiens (Human)</i></h2>
	<table id="Statistics_HS_comp" class="fancy_table hovered_list striped_table">
		<thead>
			<tr>
				<th>Data Type</th>
				<th>Number of Proteins</th>
				<th>Number of Localizations</th>
				<th>Average localization score</th>
				<th>Number of Interactions</th>
				<th>Average Interaction Score</th>
			</tr> 
		</thead>
		<tbody>
			<tr>
				<td colspan="6"><b>Compartmentalization of proteins and interactions</b></td>
                        </tr>
                        <tr>
                                <td><b><i>All Localizations</i></b></td>
                                <td><b>19 386</b></td>
                                <td><b>47 761</b></td>
                                <td><b>0.82</b></td>
                                <td><b>260 829</b></td>
                                <td><b>0.88</b></td>
                        </tr>
                        <tr>
                                <td><i>Cytosol</i></td>
                                <td>12 801</td>
                                <td>35 498</td>
                                <td>0.82</td>
                                <td>185 012</td>
                                <td>0.91</td>
                        </tr>
                        <tr>
                                <td><i>Mitochondrion</i></td>
                                <td>1937</td>
                                <td>6202</td>
                                <td>0.81</td>
                                <td>9433</td>
                                <td>0.92</td>
                        </tr>
                        <tr>
                                <td><i>Nucleus</i></td>
                                <td>10 820</td>
                                <td>27 540</td>
                                <td>0.83</td>
                                <td>156 601</td>
                                <td>0.93</td>
                        </tr>
                        <tr>
                                <td><i>Extracellular</i></td>
                                <td>5848</td>
                                <td>20 983</td>
                                <td>0.83</td>
                                <td>29 725</td>
                                <td>0.96</td>
                        </tr>
                        <tr>
                                <td><i>Secretory Pathway</i></td>
                                <td>5144</td>
                                <td>18 299</td>
                                <td>0.81</td>
                                <td>27 425</td>
                                <td>0.93</td>
                        </tr>
                        <tr>
                                <td><i>Membrane</i></td>
                                <td>8408</td>
                                <td>27 800</td>
                                <td>0.82</td>
                                <td>57 509</td>
                                <td>0.91</td>
                        </tr>
                </tbody>
        </table>
        <table id="Statistics_HS_int" class="fancy_table hovered_list striped_table">
                <tbody>
			<tr>
			<td><b>Interaction Data</b></td>
                        <td><b>23 266</b></td>
                        <td><b>-</b></td>
                        <td><b>-</b></td>
                        <td><b>385 481</b></td>
                        <td><b>0.60</b></td>
                        </tr>
                </tbody>
        </table>
        <table id="Statistics_HS_loc" class="fancy_table hovered_list striped_table">        
                <tbody>
                    <tr>
				<td colspan="6"><b>Localization Data</b></td>
                        </tr>
                        <tr>
                                <td><b><i>All Localizations</i></b></td>
                                <td><b>71 271</b></td>
                                <td><b>123 225</b></td>
                                <td><b>0.76</b></td>
                                <td><b>-</b></td>
                                <td><b>-</b></td>
                        </tr>
                        <tr>
                                <td><i>Cytosol</i></td>
                                <td>33 750</td>
                                <td>71 957</td>
                                <td>0.77</td>
                                <td>-</td>
                                <td>-</td>
                        </tr>
                        <tr>
                                <td><i>Mitochondrion</i></td>
                                <td>7541</td>
                                <td>17 509</td>
                                <td>0.75</td>
                                <td>-</td>
                                <td>-</td>
                        </tr>
                        <tr>
                                <td><i>Nucleus</i></td>
                                <td>29 789</td>
                                <td>57 722</td>
                                <td>0.79</td>
                                <td>-</td>
                                <td>-</td>
                        </tr>
                        <tr>
                                <td><i>Extracellular</i></td>
                                <td>11 672</td>
                                <td>35 729</td>
                                <td>0.80</td>
                                <td>-</td>
                                <td>-</td>
                        </tr>
                        <tr>
                                <td><i>Secretory Pathway</i></td>
                                <td>13 460</td>
                                <td>36 444</td>
                                <td>0.77</td>
                                <td>-</td>
                                <td>-</td>
                        </tr>
                        <tr>
                                <td><i>Membrane</i></td>
                                <td>27 013</td>
                                <td>61 050</td>
                                <td>0.76</td>
                                <td>-</td>
                                <td>-</td>
                        </tr>
                </tbody>
	</table>
	
	<a name="drosi"></a>
	<h2>2. <i>Drosophila melanogaster</i> (Fruit fly)</h2>
	<table id="Statistics_DM_comp" class="fancy_table hovered_list striped_table">
		<thead>
			<tr>
				<th>Data Type</th>
				<th>Number of Proteins</th>
				<th>Number of Localizations</th>
				<th>Average localization score</th>
				<th>Number of Interactions</th>
				<th>Average Interaction Score</th>
			</tr> 
		</thead>
                <tbody>
                    <tr>
				<td colspan="6"><b>Compartmentalization of proteins and interactions</b></td>
                        </tr>
                        <tr>
                                <td><b><i>All Localizations</i></b></td>
                                <td><b>13 332</b></td>
                                <td><b>20 790</b></td>
                                <td><b>0.59</b></td>
                                <td><b>137 011</b></td>
                                <td><b>0.46</b></td>
                        </tr>
                        <tr>
                                <td><i>Cytosol</i></td>
                                <td>7037</td>
                                <td>12 715</td>
                                <td>0.62</td>
                                <td>81 199</td>
                                <td>0.50</td>
                        </tr>
                        <tr>
                                <td><i>Mitochondrion</i></td>
                                <td>911</td>
                                <td>1803</td>
                                <td>0.61</td>
                                <td>3717</td>
                                <td>0.53</td>
                        </tr>
                        <tr>
                                <td><i>Nucleus</i></td>
                                <td>5507</td>
                                <td>9239</td>
                                <td>0.61</td>
                                <td>48 279</td>
                                <td>0.51</td>
                        </tr>
                        <tr>
                                <td><i>Extracellular</i></td>
                                <td>737</td>
                                <td>1764</td>
                                <td>0.61</td>
                                <td>1482</td>
                                <td>0.69</td>
                        </tr>
                        <tr>
                                <td><i>Secretory Pathway</i></td>
                                <td>2276</td>
                                <td>4726</td>
                                <td>0.58</td>
                                <td>10 541</td>
                                <td>0.44</td>
                        </tr>
                        <tr>
                                <td><i>Membrane</i></td>
                                <td>2955</td>
                                <td>5742</td>
                                <td>0.64</td>
                                <td>15 758</td>
                                <td>0.49</td>
                        </tr>
                </tbody>
        </table>
        <table id="Statistics_DM_int" class="fancy_table hovered_list striped_table">        
                <tbody>
			<tr>
			<td><b>Interaction Data</b></td>
                        <td><b>17 379</b></td>
                        <td><b>-</b></td>
                        <td><b>-</b></td>
                        <td><b>250 854</b></td>
                        <td><b>0.25</b></td>
                        </tr>
                </tbody>
        </table>
        <table id="Statistics_DM_loc" class="fancy_table hovered_list striped_table">        
                <tbody>
                    <tr>
				<td colspan="6"><b>Localization Data</b></td>
                        </tr>
                        <tr>
                                <td><b><i>All Localizations</i></b></td>
                                <td><b>21 635</b></td>
                                <td><b>31 886</b></td>
                                <td><b>0.55</b></td>
                                <td><b>-</b></td>
                                <td><b>-</b></td>
                        </tr>
                        <tr>
                                <td><i>Cytosol</i></td>
                                <td>9192</td>
                                <td>16 260</td>
                                <td>0.60</td>
                                <td>-</td>
                                <td>-</td>
                        </tr>
                        <tr>
                                <td><i>Mitochondrion</i></td>
                                <td>1907</td>
                                <td>3598</td>
                                <td>0.57</td>
                                <td>-</td>
                                <td>-</td>
                        </tr>
                        <tr>
                                <td><i>Nucleus</i></td>
                                <td>7344</td>
                                <td>12 090</td>
                                <td>0.58</td>
                                <td>-</td>
                                <td>-</td>
                        </tr>
                        <tr>
                                <td><i>Extracellular</i></td>
                                <td>2178</td>
                                <td>4714</td>
                                <td>0.58</td>
                                <td>-</td>
                                <td>-</td>
                        </tr>
                        <tr>
                                <td><i>Secretory Pathway</i></td>
                                <td>4918</td>
                                <td>9359</td>
                                <td>0.54</td>
                                <td>-</td>
                                <td>-</td>
                        </tr>
                        <tr>
                                <td><i>Membrane</i></td>
                                <td>6347</td>
                                <td>10 607</td>
                                <td>0.60</td>
                                <td>-</td>
                                <td>-</td
                        </tr>
                </tbody>
	</table>
	
	<a name="worm"></a>
	<h2>3. <i>Caenorhabditis elegans</i></h2>
	<table id="Statistics_CE_comp" class="fancy_table hovered_list striped_table">
		<thead>
			<tr>
				<th>Data Type</th>
				<th>Number of Proteins</th>
				<th>Number of Localizations</th>
				<th>Average localization score</th>
				<th>Number of Interactions</th>
				<th>Average Interaction Score</th>
			</tr> 
		</thead>
                <tbody>
                    <tr>
				<td colspan="6"><b>Compartmentalization of proteins and interactions</b></td>
                        </tr>
                        <tr>
                                <td><b><i>All Localizations</i></b></td>
                                <td><b>4221</b></td>
                                <td><b>7369</b></td>
                                <td><b>0.77</b></td>
                                <td><b>12 233</b></td>
                                <td><b>0.68</b></td>
                        </tr>
                        <tr>
                                <td><i>Cytosol</i></td>
                                <td>2369</td>
                                <td>4664</td>
                                <td>0.77</td>
                                <td>6039</td>
                                <td>0.73</td>
                        </tr>
                        <tr>
                                <td><i>Mitochondrion</i></td>
                                <td>181</td>
                                <td>416</td>
                                <td>0.75</td>
                                <td>156</td>
                                <td>0.71</td>
                        </tr>
                        <tr>
                                <td><i>Nucleus</i></td>
                                <td>1995</td>
                                <td>3685</td>
                                <td>0.77</td>
                                <td>5849</td>
                                <td>0.71</td>
                        </tr>
                        <tr>
                                <td><i>Extracellular</i></td>
                                <td>68</td>
                                <td>151</td>
                                <td>0.73</td>
                                <td>80</td>
                                <td>0.47</td>
                        </tr>
                        <tr>
                                <td><i>Secretory Pathway</i></td>
                                <td>809</td>
                                <td>1752</td>
                                <td>0.75</td>
                                <td>1189</td>
                                <td>0.70</td>
                        </tr>
                        <tr>
                                <td><i>Membrane</i></td>
                                <td>629</td>
                                <td>1295</td>
                                <td>0.79</td>
                                <td>1269</td>
                                <td>0.70</td>
                        </tr>
                </tbody>
        </table>
        <table id="Statistics_CE_int" class="fancy_table hovered_list striped_table">        
                <tbody>
			<tr>
			<td><b>Interaction Data</b></td>
                        <td><b>6298</b></td>
                        <td><b>-</b></td>
                        <td><b>-</b></td>
                        <td><b>23 772</b></td>
                        <td><b>0.35</b></td>
                        </tr>
                </tbody>
        </table>
        <table id="Statistics_CE_loc" class="fancy_table hovered_list striped_table">        
                <tbody>
                    <tr>
				<td colspan="6"><b>Localization Data</b></td>
                        </tr>
                        <tr>
                                <td><b><i>All Localizations</i></b></td>
                                <td><b>20 046</b></td>
                                <td><b>29 281</b></td>
                                <td><b>0.73</b></td>
                                <td><b>-</b></td>
                                <td><b>-</b></td>
                        </tr>
                        <tr>
                                <td><i>Cytosol</i></td>
                                <td>7713</td>
                                <td>13 887</td>
                                <td>0.74</td>
                                <td>-</td>
                                <td>-</td>
                        </tr>
                        <tr>
                                <td><i>Mitochondrion</i></td>
                                <td>1780</td>
                                <td>3521</td>
                                <td>0.72</td>
                                <td>-</td>
                                <td>-</td>
                        </tr>
                        <tr>
                                <td><i>Nucleus</i></td>
                                <td>6245</td>
                                <td>10 924</td>
                                <td>0.74</td>
                                <td>-</td>
                                <td>-</td>
                        </tr>
                        <tr>
                                <td><i>Extracellular</i></td>
                                <td>1662</td>
                                <td>3325</td>
                                <td>0.70</td>
                                <td>-</td>
                                <td>-</td>
                        </tr>
                        <tr>
                                <td><i>Secretory Pathway</i></td>
                                <td>4691</td>
                                <td>8895</td>
                                <td>0.72</td>
                                <td>-</td>
                                <td>-</td>
                        </tr>
                        <tr>
                                <td><i>Membrane</i></td>
                                <td>7190</td>
                                <td>10 579</td>
                                <td>0.72</td>
                                <td>-</td>
                                <td>-</td>
                        </tr>
                </tbody>
	</table>
   
	<a name="yeast"></a>
	<h2>4. <i>Saccharomyces cerevisiae</i> (Baker's yeast)</h2>
	<table id="Statistics_SC_comp" class="fancy_table hovered_list striped_table">
		<thead>
			<tr>
				<th>Data Type</th>
				<th>Number of Proteins</th>
				<th>Number of Localizations</th>
				<th>Average localization score</th>
				<th>Number of Interactions</th>
				<th>Average Interaction Score</th>
			</tr> 
		</thead>
                <tbody>
                    <tr>
				<td colspan="6"><b>Compartmentalization of proteins and interactions</b></td>
                        </tr>
                        <tr>
                                <td><b><i>All Localizations</i></b></td>
                                <td><b>5890</b></td>
                                <td><b>10 774</b></td>
                                <td><b>0.82</b></td>
                                <td><b>107 387</b></td>
                                <td><b>0.84</b></td>
                        </tr>
                        <tr>
                                <td><i>Cytosol</i></td>
                                <td>3374</td>
                                <td>7106</td>
                                <td>0.81</td>
                                <td>69 698</td>
                                <td>0.85</td>
                        </tr>
                        <tr>
                                <td><i>Mitochondrion</i></td>
                                <td>1407</td>
                                <td>2969</td>
                                <td>0.78</td>
                                <td>10 668</td>
                                <td>0.81</td>
                        </tr>
                        <tr>
                                <td><i>Nucleus</i></td>
                                <td>2819</td>
                                <td>5554</td>
                                <td>0.81</td>
                                <td>51 035</td>
                                <td>0.89</td>
                        </tr>
                        <tr>
                                <td><i>Extracellular</i></td>
                                <td>147</td>
                                <td>388</td>
                                <td>0.78</td>
                                <td>230</td>
                                <td>0.83</td>
                        </tr>
                        <tr>
                                <td><i>Secretory Pathway</i></td>
                                <td>891</td>
                                <td>2264</td>
                                <td>0.83</td>
                                <td>4560</td>
                                <td>0.91</td>
                        </tr>
                        <tr>
                                <td><i>Membrane</i></td>
                                <td>1876</td>
                                <td>4077</td>
                                <td>0.83</td>
                                <td>11 891</td>
                                <td>0.87</td
                        </tr
                </tbody>
        </table>
        <table id="Statistics_SC_int" class="fancy_table hovered_list striped_table">        
                <tbody>
			<tr>
			<td><b>Interaction Data</b></td>
                        <td><b>6228</b></td>
                        <td><b>-</b></td>
                        <td><b>-</b></td>
                        <td><b>130 952</b></td>
                        <td><b>0.69</b></td>
                        </tr>
                </tbody>
        </table>
        <table id="Statistics_SC_loc" class="fancy_table hovered_list striped_table">
                <tbody>
                    <tr>
				<td colspan="6"><b>Localization Data</b></td>
                        </tr>
                        <tr>
                                <td><b><i>All Localizations</i></b></td>
                                <td><b>6480</b></td>
                                <td><b>11 423</b></td>
                                <td><b>0.81</b></td>
                                <td><b>-</b></td>
                                <td><b>-</b></td>
                        </tr>
                        <tr>
                                <td><i>Cytosol</i></td>
                                <td>3467</td>
                                <td>7221</td>
                                <td>0.81</td>
                                <td>-</td>
                                <td>-</td>
                        </tr>
                        <tr>
                                <td><i>Mitochondrion</i></td>
                                <td>1513</td>
                                <td>3124</td>
                                <td>0.76</td>
                                <td>-</td>
                                <td>-</td>
                        </tr>
                        <tr>
                                <td><i>Nucleus</i></td>
                                <td>2926</td>
                                <td>5681</td>
                                <td>0.81</td>
                                <td>-</td>
                                <td>-</td>
                        </tr>
                        <tr>
                                <td><i>Extracellular</i></td>
                                <td>282</td>
                                <td>762</td>
                                <td>0.76</td>
                                <td>-</td>
                                <td>-</td>
                        </tr>
                        <tr>
                                <td><i>Secretory Pathway</i></td>
                                <td>999</td>
                                <td>2477</td>
                                <td>0.81</td>
                                <td>-</td>
                                <td>-</td>
                        </tr>
                        <tr>
                                <td><i>Membrane</i></td>
                                <td>2237</td>
                                <td>4562</td>
                                <td>0.82</td>
                                <td>-</td>
                                <td>-</td>
                        </tr>
                </tbody>
	</table>
        
	<br /><br />
	<p class="backToTOC"><a href="{{ path('ComppiDescriptionBundle_help') }}">&#x21e6; Back to Help Table of Contents</a>
        <br/><a href="{{ path('ComppiDescriptionBundle_about') }}">&#x21e6; Back to Starting Page</a></p>
        
{% endblock %}
